<section>
	<h2>Naam</h2>
	<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
	<blockquote> Dit is de commit message, bla bla bla bla bla bla bla bla bla bla bla</blockquote>
</section>