<section id="commit-section">
	<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
	<div>
		<h2>Naam</h2>
		<p> Dit is de commit message, bla bla bla bla bla bla bla bla bla bla bla</p>
	</div>
</section>