<!-- <section id="commit-section">
	<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
	<div>
		<h2>Naam</h2>
		<p> Dit is de commit message, bla bla bla bla bla bla bla bla bla bla bla</p>
	</div>
</section> -->

<section id="commit-section">
	<article>
		<div>
			<div>
				<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
				<h2>repository name</h2>
			</div>
			<div>
				<p>20/02/2020</p>
			</div>
		</div>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
			industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
			scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
			electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
			Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
			Aldus PageMaker including versions of Lorem Ipsum.</p>
	</article>
</section>

<!-- <section id="commit-section">
	<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
	<div>
		<h2>Naam</h2>
		<p> Dit is de commit message, bla bla bla bla bla bla bla bla bla bla bla</p>
	</div>
</section>

<section id="commit-section">
	<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
	<div>
		<h2>Naam</h2>
		<p> Dit is de commit message, bla bla bla bla bla bla bla bla bla bla bla</p>
	</div>
</section>

<section id="commit-section">
	<img id="avatar-homepage" src="/images/avatar.png" alt="Profile picture user">
	<div>
		<h2>Naam</h2>
		<p> Dit is de commit message, bla bla bla bla bla bla bla bla bla bla bla</p>
	</div>
</section> -->