<!DOCTYPE html>
<html lang="en">

<body>
    <section class="navBar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/scores">Scores</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </section>
</body>

</html>