<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
</head>

<body>
	<%- include('partials/header'); %>
	<h1>Live feed of the commits</h1>
	<%- include('partials/commit'); %>
</body>

</html>