<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/header'); %>
		<main id="profile">
			<section>
				<div>
					<img src="images/avatar.png" alt="" />
				</div>
				<div>
					<h1>Username</h1>
					<p>Possible bio</p>
				</div>
			</section>
			<section>
				<div>
                    <h2>10</h2>
					<p>Amount of repositories</p>
				</div>
				<div>
                    <h2>130</h2>
					<p>Amount of commits</h>
				</div>
				<div>
                    <h2>2</h2>
					<p>Active years</p>
				</div>
			</section>
		</main>
	</body>
</html>
