<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/header'); %>
		<main id="profile">
			<section>
				<div>
					<img src="" alt="" />
				</div>
			</section>
		</main>
	</body>
</html>
