<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/header'); %>
		<main id="leaderboard">
			<section>
				<div>
					<div></div>
					<p>commits</p>
					<h2>Name</h2>
					<img src="images/avatar.png" alt="" />
				</div>
				<div>
					<div></div>
					<p>commits</p>
					<h2>Name</h2>
					<img src="images/avatar.png" alt="" />
				</div>
				<div>
					<div></div>
					<p>commits</p>

					<h2>Name</h2>
					<img src="images/avatar.png" alt="" />
				</div>
			</section>
			<section>
				<article>
					<div>
						<h2>4</h2>
						<img src="images/avatar.png" alt="" />
						<p>Name user</p>
					</div>
					<div>
						<p>amount of commits</p>
					</div>
				</article>
			</section>
		</main>
	</body>
</html>
