<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/header'); %>
    <h1>Scores</h1>

    <section>
        <h2>Dit zijn de mensen die de meeste commits hebben gedaan</h2>
        <ul>
            <li>
                <h3>Naam</h3>
                <h4>Commit message</h4>
            </li>
        </ul>
    </section>
</body>


</html>