<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/header'); %>
		<main id="leaderboard">
			<section>
				<div>
					<img src="images/avatar.png" alt="" />
					<h2>Name</h2>
				</div>
				<div>
					<img src="images/avatar.png" alt="" />
					<h2>Name</h2>
				</div>
				<div>
					<img src="images/avatar.png" alt="" />
					<h2>Name</h2>
				</div>
			</section>
			<section>
				<article></article>
			</section>
		</main>
	</body>
</html>
