body {
	margin: auto;
	padding: 0;
	background-color: #eeede7;
	color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 75em;
}

nav,
nav ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	margin: 1.5vh 0;
	padding: 0;
	width: 100%;
}

nav ul li {
	text-decoration: none;
	background-color: #e7d2cc;
	border-radius: 0.5em;
	box-shadow: 0.3em 0.3em rgba(231, 210, 204, 0.5);
}

nav ul li a {
	text-decoration: none;
	color: black;
	padding: 2vh 3vh;
	display: block;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 8.5vh;
}

nav ul li a img {
	width: 2.5em;
	padding-bottom: 1vh;
}

nav ul a:hover,
nav ul a:focus,
.active {
	cursor: pointer;
	outline: none;
	border-radius: 0.5em;
	background-color: white;
}

article {
	background-color: white;
	width: 75%;
	border-radius: 0.5em;
}

#profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* max-width: 100%; */
}

#profile section:first-of-type {
	width: 95%;
	background-color: white;
	border-radius: 1em;
	display: flex;
	justify-content: space-around;
	position: relative;
}

#profile section:first-of-type img {
	width: 5vh;
	transform: translateY(50%);
}

#profile section:nth-of-type(2) {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

#profile section:nth-of-type(2) div {
	margin: 2.5vh 0;
	width: 30%;
	background-color: white;
	text-align: center;
	border-radius: 1em;
}

#profile section:nth-of-type(2) div p,
#profile section:nth-of-type(2) div h2 {
	margin: 1.5vh;
}

#profile section:nth-of-type(2) div h2 {
	font-size: 4vh;
}
